.app-wrapper {
  display: grid;
  grid-template-rows: 60px 1fr;
  grid-template-columns: 2fr 10fr;
  grid-gap: 10px;


}

.header {
  grid-area: h;
  background-color: slategray;
}

.nav{
  grid-area: n;
  background-color: lightslategray;
}
.content{
  grid-area: c;
  background-color: dimgray;
}